.newOrderHeader {
  display: flex;
  position: relative;
  align-items: center;
  top: 86px;
  left: 89px;
}

.title {
  margin-right: 20px;
  width: auto;
  height: 61px;
  font-weight: 400;
  font-size: 48px;
  white-space: nowrap;
  line-height: 61px;
  letter-spacing: -0.05em;
  color: #5255c8;
}

.stepText {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: auto;
  height: 42px;
  background: #eefd77;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.96);
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}
